<ion-header no-border>
</ion-header>

<ion-content no-bounce padding class="login">

  <ion-row class="app-icon-container">
    <ion-col text-center>
      <ion-icon name="ionic" class="app-icon-zoom" color="primary"></ion-icon>
    </ion-col>
  </ion-row>

  <form [formGroup]="credentialsForm">

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="credentialsForm.controls['email']"
                 type="email"></ion-input>
    </ion-item>

    <div *ngIf="!credentialsForm.controls.email.valid &&
        credentialsForm.controls.email.dirty"
         class="validator-error">
      Please enter a valid email.
    </div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="credentialsForm.controls['password']"
                 type="password"></ion-input>
    </ion-item>

    <div *ngIf="!credentialsForm.controls.password.valid &&
        credentialsForm.controls.password.dirty"
         class="validator-error">
      Please enter a valid password.
    </div>

    <ion-row class="sign-in-button-container">
      <ion-col text-center>
        <button ion-button block color="primary"
                [disabled]="!credentialsForm.valid" (click)="onLogin()">
          Login
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button clear color="primary"
                (click)="onForgotPassword()">
          Forgot your password?
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-label>Login via Social</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button block style="background-color:#3b5998" (click)="onFacebookLogin()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block style="background-color:#d34836" (click)="onGooglePlusLogin()">
          <ion-icon name="logo-googleplus"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button block style="background-color:#1DA1F2" (click)="onTwitterLogin()">
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button block style="background-color:#8a3ab9" (click)="onInstagramLogin()">
          <ion-icon name="logo-instagram"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
