page-login {

  .app-icon-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .app-icon-zoom {
    zoom: 4.0;
  }

  .sign-in-button-container {
    padding-top: 10px;
  }

  .validator-error {
    color: color($colors, danger);
    padding-top: 4px;
    padding-left: 16px;
  }

  .fab-container {
    position: relative;
  }

}
